<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.great.iot.ucontrol" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SensorsActivity"
            android:label="@string/title_activity_sensors"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.NoConnectionActivity"
            android:label="@string/title_activity_no_connection"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
